
body {
    font-family: 'Poppins', sans-serif;
    background-color: #D4D6CF;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    
}

.nav-item{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}


.row {
    width: 1900px;
    height: 500px;
    border-radius: 10px;
    background-color: #D4D6CF;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

nav.bg-brown{
    background-color: #3F4122;
}

.active2 {
    color: #D4D6CF;
    background-color: #536F16;
    border-radius: 10px;
}

.active2:hover {
    color: #D4D6CF;
}

.warna-logo{
    color: #D4D6CF;
}

.warna-logo:hover{
    color: #D4D6CF;
}
.warna-tulisan{
    color: #D4D6CF;
    border-radius: 10px;
}


.nav-link:hover{
    color: #D4D6CF;
    background-color: #536F16;
    border-radius: 10px;
}

.side-image{
    background-image: url("img/sawitdrone.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0 10px 10px 0;
}

nav.bg-success2 {
    background-color: #013A20;
}